APP_NAME=KnowMyCouncil
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://knowmycouncil.uk
APP_VERSION=0.1.0-dev
APP_TIMEZONE=Europe/London
APP_LOCALE=en_GB
APP_FALLBACK_LOCALE=en_GB
APP_FAKER_LOCALE=en_GB
APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12
LOG_CHANNEL=stderr
LOG_STACK=single
LOG_LEVEL=info

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=knowmycouncil
DB_USERNAME=knowmycouncil
DB_PASSWORD=knowmycouncil

POSTGRES_DB=knowmycouncil
POSTGRES_USER=knowmycouncil
POSTGRES_PASSWORD=knowmycouncil

SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=minio
QUEUE_CONNECTION=redis
CACHE_STORE=redis

REDIS_CLIENT=predis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_FROM_ADDRESS=hello@knowmycouncil.uk
MAIL_FROM_NAME=KnowMyCouncil

FRONTEND_URL=https://knowmycouncil.uk
NUXT_PUBLIC_API_BASE_URL=https://knowmycouncil.uk/api
NUXT_API_INTERNAL_BASE_URL=http://backend:8000/api

SCOUT_DRIVER=meilisearch
SCOUT_QUEUE=true
MEILISEARCH_HOST=http://meilisearch:7700
MEILISEARCH_KEY=local-meili-master-key

MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY_ID=minio
MINIO_SECRET_ACCESS_KEY=miniosecret
MINIO_BUCKET=knowmycouncil
MINIO_REGION=eu-west-2
MINIO_USE_PATH_STYLE_ENDPOINT=true
