http://knowmycouncil.uk, http://www.knowmycouncil.uk {
  redir https://knowmycouncil.uk{uri} permanent
}

www.knowmycouncil.uk {
  redir https://knowmycouncil.uk{uri} permanent
}

knowmycouncil.uk {
  encode gzip

  handle /api/* {
    reverse_proxy backend:8000
  }

  handle /up {
    reverse_proxy backend:8000
  }

  handle {
    reverse_proxy frontend:3000
  }
}
